@import "~LessConstants";

.your-city {
  font-family: @source-sans-pro;
  font-size: 18px;
  color: @dark-grey;
  text-align: center;
  padding-top: 30px;
}

.city-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 2.0;
}

.center-button {
  text-align: center;
  padding: 20px 0px;
}

.new-city {
  font-family: @source-sans-pro;
  font-size: 16px;
  font-style: italic;
  color: @dark-grey;
  text-align: center;
  padding-bottom: 20px;
}
