@import "~LessConstants";

.button {
  width: 130px;
  height: 50px;
  border-radius: 5px;
  background-color: @blue;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

  span {
    font-family: @source-sans-pro;
    color: @white;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}
