// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

@lato: 'Lato', sans-serif;
@source-sans-pro: 'Source Sans Pro', sans-serif;

// Colors
@white: #fff;
@black: #000;

@light-grey: #d3d3d3;
@dark-grey: #2f2c2c;
@charcoal: #191919;

@blue: #1c468d;
