/* Global CSS Styles */

html, body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
  border-left: 15px solid #000;
  border-right: 15px solid #000;
}

.footer {
  flex-shrink: 0;
}

/* Overrides */

button {
  border: none;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}
