@import "~LessConstants";

.city-pic {
  display: block;
  max-width: 350px;
  border-radius: 5px;
  margin: 20px auto 0 auto;
}

.description {
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
    padding-top: 20px;

  p {
    font-family: @source-sans-pro;
    font-size: 18px;
    color: @dark-grey;
  }
}

.center-button {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
