@import "~LessConstants";

.base {
  font-family: @source-sans-pro;
  color: @dark-grey;
  text-align: center;
}

.heading {
  composes: base;
  font-size: 24px;
  margin: 5px 0;
}

.data {
  composes: base;
  font-size: 16px;
  padding-bottom: 20px;
}
