@import "~LessConstants";

.header {
  padding: 0;
  margin: 0;
  border-top: 15px solid @black;
}

.skyline {
  display: block;
  width: 100%;
  margin: 0 auto -1px auto;
}

.title {
  height: 100px;
  background-color: @black;
  font-family: @lato;
  color: @white;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

.nav {
  height: 24px;
  text-align: center;
  border-bottom: 1px solid @black;
  font-family: @lato;
  font-size: 16px;
  margin: 10px 0px;
  padding: 10px 0px;
}

.nav-item {
  color: @black;
  display: inline-block;
  height: 24px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px 0px 10px;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
