@import "~LessConstants";

.description {
  font-family: @source-sans-pro;
  font-size: 18px;
  color: @dark-grey;
  text-align: center;
    padding-top: 30px;
}

.center-button {
  text-align: center;
  padding: 20px 0px;
}
